@import url(./__cell/_width_250/table__cell_width_250.css);
@import url(./__heading/table__heading.css);
@import url(./__text/table__text.css);



.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.digits__padding {
  padding-bottom: 100px;
}
