.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  align-self: stretch;
  overflow: hidden;
}

.logo__place_header {
  top: 30px;
  left: 64px;
  position: absolute;
}







/* HEADER*/
