@import url(./__link/header__link.css);
@import url(./__main-illustration/header__main-illustration.css);
@import url(./__square-pic/header__square-pic.css);
@import url(./__subtitle/header__subtitle.css);
@import url(./__title/header__title.css);

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  align-self: stretch;
}

.logo {}

.logo__place_header {
  top: 30px;
  left: 64px;
  position: absolute;
}







/* HEADER*/
