.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1d1d1d;
  color: white;
  width: 100%;
  min-height: 350px;
  box-sizing: border-box;
}

.logo__place_footer {
  width: 183px;
  height: 35px;
}
