@import url(../blocks/header/header.css);
@import url(../blocks/description/description.css);
@import url(../blocks/techniques/techniques.css);
@import url(../blocks/digits/digits.css);
@import url(../blocks/kaufman/kaufman.css);
@import url(../blocks/resources/resources.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/common-styles/rotation.css);
@import url(../blocks/common-styles/opacity.css);
@import url(../blocks/video/video.css);
@import url(../blocks/oakley/oakley.css);
@import url(../blocks/feynman/feynman.css);
@import url(../blocks/khan/khan.css);

@font-face {
  font-family: Inter;
  font-weight: 400;
  src: url(../vendor/fonts/inter/Inter-Regular.woff) format('woff'),
    url(../vendor/fonts/inter/Inter-Regular.woff2) format('woff2');
}

@font-face {
  font-family: Inter;
  font-weight: 600;
  src: url(../vendor/fonts/inter/Inter-SemiBold.woff) format('woff'),
    url(../vendor/fonts/inter/Inter-SemiBold.wof2) format('woff2');
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}


.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */


  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  padding-top: 100px;
}

.section-title {
  width: 60%;
  text-align: center;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 700;
}

.section-subtitle {
  padding-top: 20px;
  width: 60%;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
}
