@import url(./normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/header/header.css);
@import url(../blocks/description/description.css);
@import url(../blocks/techniques/techniques.css);
@import url(../blocks/digits/digits.css);
@import url(../blocks/kaufman/kaufman.css);
@import url(../blocks/resources/resources.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/common-styles/rotation.css);
@import url(../blocks/common-styles/opacity.css);
@import url(../blocks/video/video.css);
@import url(../blocks/oakley/oakley.css);
@import url(../blocks/feynman/feynman.css);
@import url(../blocks/khan/khan.css);


.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */


  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  width: 60%;
  text-align: center;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 700;
  margin: 0;
}

.section-subtitle {
  padding-top: 20px;
  width: 60%;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  margin: 0;
}

.ul_padding_0 {
  padding: 0;
}
